[Unit]
Description=Dashboard for TermHigrPi

[Service]
ExecStart=/home/pi/TermHigrPi/dashboard.py
WorkingDirectory=/home/pi/TermHigrPi
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
