[Unit]
Description=Dashboard for TermHigrPi

[Service]
ExecStart=/home/pi/termhigrpirest/dashboard.py
WorkingDirectory=/home/pi/termhigrpirest
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
