[Unit]
Description=Thermo Higrometer DHT-22 - BME280

[Service]
ExecStart=/home/pi/TermHigrPi/TermHigrPi.py
WorkingDirectory=/home/pi/TermHigrPi
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
