<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Condições Ambientais</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/fontawesome.min.css') }}" rel="stylesheet">
	<style type="text/css">
	 body { background: #114781 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
	</style>

    </head>
    <body>

	<div class="pos-f-t">
	    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
		    <h5 class="text-white h4">Condições Ambientais</h5>
		    <ul class="navbar-nav">
			<li class="nav-item active">
			    <a class="nav-link text-secondary" href="../">Dashboard</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link text-secondary" href="grafico_24h">Gráfico últimas 24h</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link text-secondary" href="grafico_month">Gráfico último mês</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link text-secondary" href="grafico_all">Gráfico desde o início</a>
			</li>
		    </ul>
		</div>
	    </div>
	    <nav class="navbar navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
	    </nav>
	</div>
	
	<div class="container-fluid">
	    <div class="card-deck text-center">
		
		<div class="row mt-2 mx-auto" id="card_temperature">
		    <div class="card shadow-sm bg-light">
			<div class="card-header"> Temperatura </div>
			<div class="card-body">
			    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
				<canvas class="card-img-bottom" id="canvas_temp"></canvas>
			    </div>
			</div>
		    </div>
		</div>

		<div class="row mt-2 mx-auto" id="card_humidity">
		    <div class="card shadow-sm bg-light">
			<div class="card-header"> Umidade Relativa </div>
			<div class="card-body">
			    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
				<canvas class="card-img-bottom" id="canvas_hum"></canvas>
			    </div>
			</div>
		    </div>
		</div>

		<div class="row mt-2 mx-auto" id="card_pressure">
		    <div class="card shadow-sm bg-light">
			<div class="card-header"> Pressão Atmosférica </div>
			<div class="card-body">
			    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
				<canvas class="card-img-bottom" id="canvas_press"></canvas>
			    </div>
			</div>
		    </div>
		</div>

	    </div>
	</div>


	<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.bundle.js') }}"></script>	
	
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/Chart.min.js') }}"></script>	
	<script type="text/javascript">

	 var canvas_temp = document.getElementById("canvas_temp").getContext("2d");
	 var canvas_hum = document.getElementById("canvas_hum").getContext("2d");
	 var canvas_press = document.getElementById("canvas_press").getContext("2d");
	 
	 var data_temp = {
	     labels: [
		 {% for item in labels %}
		 "{{ item }}",
		 {% endfor %}
	     ],
	     datasets: [{
		 label: "Temperatura Média (ºC)",
		 //backgroundColor: "rgba(100, 50, 50, 0.2)",
		 borderColor: "rgba(50, 100, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in temp %}
		     {{ item }},
		     {% endfor %}]
	     },{
		 label: "Temperatura Máxima (ºC)",
		 //backgroundColor: "rgba(100, 50, 50, 0.2)",
		 borderColor: "rgba(100, 50, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in temp_max %}
		     {{ item }},
		     {% endfor %}]
	     },{
		 label: "Temperatura Mínima (ºC)",
		 //backgroundColor: "rgba(100, 50, 50, 0.2)",
		 borderColor: "rgba(50, 50, 100, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in temp_min %}
		     {{ item }},
		     {% endfor %}]
	     }]
	 };
	 
	 var data_hum = {
	     labels: [
		 {% for item in labels %}
		 "{{ item }}",
		 {% endfor %}
	     ],
	     datasets: [{
		 label: "Umidade Média (% u.r.)",
		 //backgroundColor: "rgba(50, 100, 50, 0.2)",
		 borderColor: "rgba(50, 100, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in hum %}
		     {{ item }},
		     {% endfor %}]
	     },{
		 label: "Umidade Máxima (% u.r.)",
		 //backgroundColor: "rgba(50, 100, 50, 0.2)",
		 borderColor: "rgba(100, 50, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in hum %}
		     {{ item }},
		     {% endfor %}]
	     },{
		 label: "Umidade Mínima (% u.r.)",
		 //backgroundColor: "rgba(50, 100, 50, 0.2)",
		 borderColor: "rgba(50, 50, 100, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in hum %}
		     {{ item }},
		     {% endfor %}]
	     }]
	 };

	 var data_press = {
	     labels: [
		 {% for item in labels %}
		 "{{ item }}",
		 {% endfor %}
	     ],
	     datasets: [{
		 label: "Pressão Média (hPa)",
		 //backgroundColor: "rgba(50, 50, 100, 0.2)",
		 borderColor: "rgba(50, 100, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in press %}
		     {{ item }},
		     {% endfor %}]
	     },{
		 label: "Pressão Máxima (hPa)",
		 //backgroundColor: "rgba(50, 50, 100, 0.2)",
		 borderColor: "rgba(100, 50, 50, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in press_max %}
		     {{ item }},
		     {% endfor %}]

	     }, {
		 label: "Pressão Mínima (hPa)",
		 //backgroundColor: "rgba(50, 50, 100, 0.2)",
		 borderColor: "rgba(50, 50, 100, 1)",
		 borderWidth: 1,
		 pointRadius: 0,
		 data: [
		     {% for item in press_min %}
		     {{ item }},
		     {% endfor %}]
	     }]
	 };
	 
	 var chart_options = {
	     maintainAspectRatio: false,
	 };
	 
	 new Chart.Line(canvas_temp, {data: data_temp, options: chart_options});
	 new Chart.Line(canvas_hum, {data: data_hum, options: chart_options});
	 new Chart.Line(canvas_press, {data: data_press, options: chart_options});

	</script>


    </body>
</html>

